<section>
   <a href="/timers" class="breadcrumb">My Timers</a>
    <div class="card">
        <!-- Timer header -->
        <div class="card-content">
            <h3>{{timer.timerName}}</h3>
        </div>

        <section>
            <div id="intervalsLeft"></div>
        </section>

        <section id="timerFunctions">

            <section class=" main-container center">
                <div class="circle-container center ">
                    <div class="semiCircle"></div>
                    <div class="semiCircle"></div>
                    <div class="semiCircle"></div>
                    <div class="outermost-circle"></div>
                </div>

                {{!-- timer --}}
                <div class="timer-container center">
                    <div class="center" id="timerDisplay"></div>
                    <div class="center" id="breakTimerDisplay"></div>
                </div>

            </section>

            <!-- Timer Control buttons -->
            <section class="container controlButtonsContainer">
                <button class="btn controlButtons " id="startButton"><i class="fa fa-play"></i></button>
                <button class="btn  controlButtons " id="pauseButton"><i class="fa fa-duotone fa-pause"></i></button>
                <button class="btn  controlButtons" id="restartButton"><i class="fa-solid fa-clock-rotate-left"></i></button>

            </section>

            

            <section class="timerDescription">
                <p>Active Time:</p><p id="activeTime"></p>
                <p>Break Time:</p><p id="breakTime"></p>
                
                <p id="numberOfRounds">Number of Rounds: {{timer.numberOfRounds}}</p>
            </section>

            <section class="">
                
                <p><a class="" href="/timers/{{timer._id}}/edit">Edit</a></p>
                <form
                    action="/timers/{{timer._id}}?_method=DELETE"
                    method="POST"
                    class="col-3"
                    >
                    <button class="btn btn-primary fa fa-trash " type="submit"></button>
                    
                    
                </form>
                

            </section>
        </section>
    </div>
    <script>
        const sessionActiveTime = {{timer.activeTime}};
        const sessionBreakTime = {{timer.breakTime}};
        const sessionNumberOfRounds = {{timer.numberOfRounds}}
    </script>
    <script src="/scripts/timerScript.js"></script>
    <script src="/scripts/timerTemplateScript.js"></script>
    
</section>
